body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    font-style: italic;
    padding: 10px;
}

a:active {
    color: red;
}

a:visited {
    color: black;
}
